*,
::before,
::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroyextrabold.woff) format("woff");
  src: url(../fonts/gilroyextrabold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/opensanslight.woff) format("woff");
  src: url(../fonts/opensanslight.woff2) format("woff2");
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "OpenSans";
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.15px;
  color: #000000;
}

.header {
  background-color: rgba(240, 197, 46, 0.5);
}

.user-form a {
  font-family: 'OpenSans';
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.15px;
}

.user-form li {
  list-style-type: none;
}

.catalogs li {
  list-style-type: none;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  line-height: 24px;
}

.plus {
  font-family: "Gilroy";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.catalogs-menu a {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  color: #000000;
  text-decoration: none;
}

.advatages-top a {
  font-family: "Gilroy";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  line-height: 24px;
  letter-spacing: 3.6px;
}


.slider h1 {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
  color: #000000;
  line-height: 56px;
  letter-spacing: 0.17px;


}

.slider p {
  font-family: 'OpenSans';
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.info a {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  text-decoration: none;
  color: #000;
  margin-left: 44px;
  margin-right: 43px;
}

.specification th {
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.36px;
  color: #000000;
}

.specification td {
  font-family: "OpenSans";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

.list-items a {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
  text-decoration: none;
}

.info-content h2 {
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.21px;
  color: #000000;
}

.info-content p {
  font-family: 'OpenSans';
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.about-company h2 {
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.21px;
  color: #000000;
}

.advantages {
  font-family: 'OpenSans';
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.about-us li {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.15px;
  color: #000000;
  list-style-type: none;
  position: relative;
}

.about-us li::before {
  content: "○";
  color: #e5e5e5;
  position: absolute;
  left: -30px;

}

.footer {
  background-color: #464646;
  width: 1440px;
}

.-bottom a {
  font-family: 'OpenSans';
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #ffffff;
  text-decoration: none;
}

.user-form-bottom li {
  list-style-type: none;
}

.footer-nav p {
  font-family: 'OpenSans';
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.footer-nav li {
  list-style-type: none;
  margin-left: 38px;
}

.footer-nav a {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-nav a:nth-child(3) {
  font-family: 'OpenSans';
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #ffffff;
  text-transform: none;
}

.footer-contacts li {
  list-style-type: none;
   margin-left: 23px;
}

.write-us label {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #000;
}

.title-catalog {
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.17px;
  color: #000;
}

.breadcrumbs li {
  list-style-type: none;
}

.breadcrumbs a {
  text-decoration: none;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: #dcdcdc;
}

.filter p {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.91px;
  text-transform: uppercase;
  color: #000;
}

.filter-sort li {
  list-style-type: none;
}


.filter-sort a {
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0.14px;
  color: #000;
  text-decoration: none;
  opacity: 0.3;
}

.filters-items p {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000;
}

.price-item {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}

.nav-bottom {
  list-style-type: none;
}

.nav-bottom a {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-top img:hover {
  opacity: 0.6;
}

.logo-top img:active {
  opacity: 0.3;
}

:hover::-webkit-input-placeholder {
  font-family: OpenSans;
  opacity: 0.6;
}

:focus::-webkit-input-placeholder {
  font-family: OpenSans;
  opacity: 0;
}

.user-form a:hover,
.user-form-bottom a:hover {
  opacity: 0.6;
}

.user-form a:active,
.user-form-bottom a:active {
  opacity: 0.3;
}

.plus:hover,
.advatages-top a:hover {
  color: rgba(185, 170, 117, 0.6);
}

.plus:active,
.advatages-top a:active {
  color: rgba(185, 170, 117, 0.3);
}

.catalogs-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalogs-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.info a {
  display: flex;
  background-color: #f0c52e;
  width: 220px;
  height: 8px;
  align-items: center;
  justify-content: center;
}

.info a:hover {
  height: 40px;
}

.info a:active {
  color: rgba(0, 0, 0, 0.3);
}

.list-link::before {
  content: "";
  display: flex;
  background: #F7E397;
  width: 160px;
  height: 160px;
  margin-bottom: 39px;
}

.list-link:hover::before {
  background: #f0c52e;
}

.list-link-vr::before {
  content: url("../img/svg/popular-1.svg");
  align-items: center;
  justify-content: center;
}

.list-link-vr:active::before {
  content: "";
  opacity: 0.3;
  background: #f0c52e;
}

.list-link-mnpd::before {
  content: url("../img/svg/popular-2.svg");
  align-items: center;
  justify-content: center;
}

.list-link-ac::before {
  content: url("../img/svg/popular-3.svg");
  align-items: center;
  justify-content: center;
}

.list-link-fb::before {
  content: url("../img/svg/popular-4.svg");
  align-items: center;
  justify-content: center;
}

.list-link-sw::before {
  content: url("../img/svg/popular-5.svg");
  align-items: center;
  justify-content: center;
}

.list-link-cu::before {
  content: url("../img/svg/popular-6.svg");
  align-items: center;
  justify-content: center;
}

.form-search::before {
  content: url("../img/svg/search.svg");
  margin-right: 20px;
}

.enter::before {
  content: url("../img/svg/user.svg");
  margin-right: 14px;
}

.compare::before {
  content: url("../img/svg/compare.svg");
  margin-right: 14px;
}

.cart::before {
  content: url("../img/svg/cart.svg");
  margin-right: 14px;
}

.plus::after {
  content: url("../img/svg/plus.svg");
  margin-left: 16px;
  opacity: 0.3;
}

.form-placeholder {
  background: rgb(247, 226, 150);
  border: none;
}

.form-placeholder::placeholder {
  opacity: 0.3;
}

.form-placeholder:hover::placeholder {
  opacity: 0.6;
}

.form-placeholder:focus::placeholder {
  opacity: 1;
}

.search-button {
  display: none;
}

.form-placeholder:focus~.search-button {
  width: 85px;
  height: 49px;
  border: 2px solid #000000;
  background: rgb(247, 226, 150);
  display: inline-block;
}

.form-placeholder:focus~.search-button:hover {
  color: #fff;
  background: rgb(0, 0, 0);
}

.bottom-options li {
  list-style-type: none;
}

.bottom-options a {
  font-family: "Gilroy";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  display: flex;
  background-color: #f0c52e;
  width: 160px;
  height: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 57px;
}

.bottom-options a:hover {
  height: 40px;
}

.bottom-options a:active {
  color: #f7e184;
  width: 278px;
  background: #000;
  justify-content: left;
}

.warranty,
.credit {
  display: none;
}

.write-us a {
  width: 200px;
}

.dji:hover {
  background-image: url("../img/logo-1.png");
}

.spgadgets:hover {
  background-image: url("../img/logo-2.png");
}

.gopro:hover {
  background-image: url("../img/logo-3.png");
}

.vive:hover {
  background-image: url("../img/logo-4.png");
}

.delivery::after {
  content: url("../img/delivery.png");
  position: absolute;
  top: -15px;
  right: -250px;
}

.delivery {
  position: relative;
}

.warranty::after {
  content: url("../img/warranty.png");
}

.credit::after {
  content: url("../img/credit.png");
}

.info-260 a {
  width: 260px;
  display: flex;
  background-color: #f0c52e;
  height: 8px;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  text-decoration: none;
  color: #000;
}

.info-260 a:hover,
.info-200 a:hover {
  height: 40px;
}

.info-260 a:active,
.info-200 a:active {
  color: rgba(0, 0, 0, 0.3);
  ;
}

.enter-footer,
.compare-footer,
.cart-footer {
  fill: #ffc600;
  margin-right-left: 14px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 67px;
  margin-left: 429px;
}

.footer-contacts ul {
  display: flex;
}

.footer-contacts ul::before {
  content: "";
  border-top: 7px solid #ffc600;
  width: 80px;
  position: absolute;
  left: 370px;
  margin-top: 10px;
}

.write-us input,
textarea {
  background: #F2F2F2;
}

.write-us input:hover,
textarea:hover {
  background: #ECECEC;
}

.write-us input:focus,
textarea:focus {
  border: 3px solid #f0c52e;
}

.breadcrumbs-arrow::after {
  content: url("../img/svg/nav-arrow.svg");
  padding-left: 4px;
}

.filter {
  background: #ECECEC;
  width: 1534px;
  height: 70px;
}

.filter-back {
  background: #DCDCDC;
}

.filters {
  background: #EFEFEF;
}

.filter-price p,
.filter-color p,
.filter-bluetooth p {
  border-top: 2px solid black;
  width: 201px;
}

.info-200 a {
  width: 200px;
  display: flex;
  background-color: #f0c52e;
  height: 8px;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  text-decoration: none;
  color: #000;
}

.filters label {
  width: 28px;
  height: 50px;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: 0.14px;
  color: #000000;
}

.nav-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ECECEC;
  width: 760px;
  height: 70px;
}


.nav-bottom a {
  width: 75px;
  height: 13px;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.no-active {
  width: 9px;
  height: 11px;
  opacity: 0.3;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3);
}

.user-form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
  width: 100%;
}

.user-form-bottom ul {
  display: flex;
}

.user-form-bottom svg {
  margin-right: 14px;
}

.user-form-bottom li {
  margin-left: 43px;
}

.slider-button button {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  background: none;
  margin-right: 21px;
  position: relative;
}

.slider-button button:first-child::before {
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
}

.header,
.logo-top,
.user-form,
.catalogs,
.user-form ul,
.advatages-top,
.slider {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: auto;
}

.logo-top {
  width: 100%;
  margin-left: 60px;
  margin-top: -18px;
  margin-bottom: 37px;
}

.catalogs {
  width: inherit;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 61px;
  margin-bottom: 169px;
}

.catalogs-menu {
  display: none;
}

.user-form ul {
  justify-content: space-between;
  margin: 0;
}

.user-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-left: 63px;
  margin-right: 61px;
  margin-bottom: 50px;
}

.advatages-top li:last-child {
  margin-left: 114px;
}

.advatages-top li:first-child {
  margin-right: 38px;
}

.enter {
  margin-right: 218px;
}

.form-search {
  margin-right: auto;
}

.compare {
  margin-right: 41px;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-image-1 {
  margin-left: auto;
  display: flex;
}

.item-image-2 {
  margin-left: auto;
}

.item-image-3 {
  margin-left: 31px;
}

.discription {
  margin-left: 125px;
  flex-wrap: wrap;
  margin-top: 68px;
  position: relative;
}

.discription::before {
  content: "";
  border-top: 7px solid #fff;
  width: 100px;
  position: absolute;
  top: -40px;
}

.discription::after {
  content: "01";
  color: #fff;
  width: 166px;
  height: 131px;
  font-family: "Gilroy";
  font-size: 179px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.79px;
  position: absolute;
  top: -95px;
  right: 40px;

}

.discription-2 {
  margin-left: 138px;
  margin-right: 83px;
}

.discription-3 {
  width: 603px;
  display: flex;
  margin-right: 53px;
  margin-left: 42px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.about-items {
  display: flex;
  width: 100%;
  margin-top: 64px;
  justify-content: flex-start;
  align-items: center;
}

.discription h1,
.info a,
.advatages-top,
.bottom-options ul,
.discription h1,
.discription-2 h1,
.discription-3 h1,
.item-text-2 p,
.item-text-3 p,
.info-content h2,
.info-content p,
.about-company h2,
.about-company p,
.about-company ul,
.user-form-bottom ul,
.footer-contacts ul,
.footer-nav p,
.footer-nav ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.item-text {
  margin-top: 31px;
  display: flex;

}

.item-text p {
  width: 485px;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.item-text-2 {
  margin-top: 31px;
}

.item-text-3 {
  margin-top: 39px;
}

.list-items {
  display: flex;
  justify-content: space-between;
  margin-top: 117px;
}

.bottom-slider {
  margin-top: 160px;
  background-color: #e5e5e5;
  width: 1445px;
  min-height: 288px;
}

.contaier-bottom {
  display: flex;
  justify-content: center;
}

.bottom-slider .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -35px;
}

.footer .container {
  display: flex;
}

.header.container {
  margin-top: 73px;
}

.slider {
  margin-top: -100px;
}

.specification td,
th {
  padding-right: 81px;
}

.specification td {
  padding-top: 20px;
}

.specification {
  margin-top: 76px;
}

.slider-button {
  margin-left: 179px;
  display: flex;
  flex-wrap: nowrap;
}

.info-content {
  display: flex;
  margin-right: auto;
  position: relative;
  margin-left: 241px;
}

.info-content::before {
  content: "";
  border-right: 7px solid;
  height: 319px;
  position: absolute;
  left: -125px;
  top: -55px;
}

.bottom-options {
  display: flex;
  margin-top: -28px;
}

.delivery p {
  margin-top: 43px;
}

.lables {
  margin-top: 94px;
  display: flex;
  justify-content: space-around;
}

.about-company {
  margin-top: 152px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.about-us .advantages {
  width: 490px;
  white-space: normal;
  margin-top: 55px;
}

.about-us {
  margin-right: 139px;
  position: relative;
}

.contacts .advantages {
  width: 520px;
  white-space: normal;
  margin-top: 59px;
}

.about-us ul {
  margin-top: 80px;
  padding-left: 20px;
}

.about-us .info-260 {
  margin-top: 41px;
}

.contacts img {
  margin-top: 44px;
}

.contacts .info-260 {
  margin-top: 83px;
}

.about-us::before,
.contacts::before {

  content: "";
  border-top: 7px solid #000;
  width: 80px;
  position: absolute;
  top: -51px;
}

.contacts {
  position: relative;
}

.write-us {
  display: none;
}

.container-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 147px; 
  margin-top: 98px;
}

.container-footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 42px;
}

.user-form-bottom a {
  text-decoration: none;
  color: #fff;
}

.logo-footer {
  display: flex;
}

.footer-nav ul {
	display: flex;
	justify-content: center;
}

