*,
::before,
::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff") format("woff");
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff");
  src: url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 0.15px;
  font-style: normal;
  src: url("../fonts/opensanslight.woff") format("woff");
  src: url("../fonts/opensanslight.woff2") format("woff2");
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
  margin-top: 40px;
}

.header {
  background-color: rgba(240, 197, 46, 0.5);
}

.user-form a {
  line-height: 2;
  color: #000000;
  text-decoration: none;
}

.user-form li {
  list-style-type: none;
}

.catalogs li {
  list-style-type: none;
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
}

.plus {
  font-family: "Gilroy", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000;
  font-weight: 800;
  font-size: 18px;
}

.catalogs-menu a {
  font-family: "OpenSans", "Arial", sans-serif;
  color: #000000;
  text-decoration: none;
}

.advatages-top a {
  font-family: "Gilroy", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  font-size: 18px;
}


.slider h1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.6px;
}

.slider p {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.info a {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

.specification th {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.36px;
  white-space: nowrap;
}

.specification td {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

.list-items a {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
}

.info-content h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  padding-top: 6px;
}

.info-content p {
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: #464646;
  width: 450px;
}

.about-company h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
}

.advantages {
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: #464646;
}

.about-us li {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.15px;
  list-style-type: none;
  position: relative;
  font-weight: 800;
}

.about-us li::before {
  content: "○";
  color: #e5e5e5;
  position: absolute;
  left: -35px;

}

.footer {
  background-color: #464646;
}

.user-form-bottom li {
  list-style-type: none;
}

.footer-nav p {
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: #ffffff;
  position: relative;
  margin-left: 0;
  display: block;
  letter-spacing: -0.3px;
}

.footer-nav li {
  list-style-type: none;
  padding-right: 34px;
}

.footer-nav a {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
}

.footer-nav a:nth-child(3) {
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: #ffffff;
  text-transform: none;
  font-size: 15px;
  margin-right: -3px;
  letter-spacing: 0.17px;

}

.footer-contacts li,
.footer-contacts-catalog li {
  list-style-type: none;
  margin-left: 23px;
}

.footer-contacts li:hover {
  opacity: 0.6;
}

.footer-contacts li:hover {
  opacity: 0.6;
}


.footer-contacts li:active {
  opacity: 0.1;
}

.write-us label {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-catalog h1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.17px;
}

.breadcrumbs li {
  list-style-type: none;
  margin-right: 10px;
  margin-right: 19px;
}

.breadcrumbs a {
  text-decoration: none;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: rgba(0, 0, 0, 0.3);
  padding-right: 5px;
}

.last-item-footer {
  margin-left: -3px;
}

.breadcrumbs .arrow-footer {
  padding-right: 12px;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter p {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 30px;
  font-weight: 800;
}

.filter-sort li {
  list-style-type: none;
  padding-right: 28px;
}


.filter-sort a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.filter-sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.filter-sort a:active {
  color: rgba(0, 0, 0, 1);
}

.filters-items p {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: 0.18px;
  margin: 0;
}

.price-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
  margin-right: 4px;
  margin-top: 3px;
  display: inline-block;
  position: absolute;
  right: -4px;
  top: 0px;
}

.nav-bottom a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-top img:hover {
  opacity: 0.6;
}

.logo-top img:active {
  opacity: 0.3;
}

.user-form a:hover {
  opacity: 0.6;
}

.user-form-bottom a:hover {
  opacity: 1;
}

.user-form a:active {
  opacity: 0.3;
}

.user-form-bottom a:active {
  opacity: 0.3;
}

.plus:hover,
.advatages-top a:hover {
  color: rgba(185, 170, 117, 0.6);
}

.plus:active,
.advatages-top a:active {
  color: rgba(185, 170, 117, 0.3);
}

.catalogs-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalogs-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.button {
  width: 220px;
  position: relative;
  display: inline-block;
  text-align: center;
  background: no-repeat;
  border: none;
  font-size: 18px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  outline: none;
}

.button::before {
  content: "";
  background: #f0c52e;
  width: 220px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: -3px;
  right: 0;
  transform: translateY(-50%);
}

.button-footer::before {
  width: 200px;
}

.wide-button:before {
  top: 15px;
  left: 0px;
}

.wide-button span {
  top: 3px;
  left: 1px;
}

.button span {
  position: relative;
}

.button .item-about-main {
  left: -20px;
  top: 1px;
}

.about-button:before {
  top: 13px;
  left: -22px;
}

.button:hover::before {
  height: 40px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.smaller-button {
  width: 160px;
}

.smaller-button::before {
  width: 160px;
  top: 10px;
  left: 1px;
}

.wide-button {
  width: 260px;
  padding-left: 2px;
}

.wide-button::before {
  width: 260px;
}

.button-write::before {
  top: 13px;
}

.button-write span {
  top: 2px;
}

.black-button:active {
  color: #F7E285;
}

.black-button:active::before {
  content: "";
  background: #000;
  width: 278px;
}


.selects .active {
  color: #F7E285;
}

.active::before {
  content: "";
  background: #000;
  width: 278px;
  height: 40px;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.list-link {
  position: relative;
}

.list-link::before {
  content: "";
  display: flex;
  background: #F7E397;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
}

.list-link:hover::before {
  background: #f0c52e;
}

.list-link-vr::after {
  content: url("../img/svg/popular-1.svg");
  align-items: center;
  position: absolute;
  top: 52px;
  left: 31px;
}

.list-link-vr:active::after {
  opacity: 0.3;
}

.list-link-mnpd::after {
  content: url("../img/svg/popular-2.svg");
  align-items: center;
  position: absolute;
  top: 41px;
  left: 38px;
}

.list-link-mnpd:active::after {
  opacity: 0.3;
}

.list-link-ac::after {
  content: url("../img/svg/popular-3.svg");
  align-items: center;
  position: absolute;
  top: 39px;
  left: 49px;
}

.list-link-ac:active::after {
  opacity: 0.3;
}

.list-link-fb::after {
  content: url("../img/svg/popular-4.svg");
  align-items: center;
  position: absolute;
  top: 50px;
  left: 28px;
}

.list-link-fb:active::after {
  opacity: 0.3;
}

.list-link-sw::after {
  content: url("../img/svg/popular-5.svg");
  align-items: center;
  position: absolute;
  top: 32px;
  left: 55px;
}

.list-link-sw:active::after {
  opacity: 0.3;
}

.list-link-cu::after {
  content: url("../img/svg/popular-6.svg");
  align-items: center;
  position: absolute;
  top: 49px;
  left: 13px;
}

.list-link-cu:active::after {
  opacity: 0.3;
}

.enter::before {
  content: url("../img/svg/user.svg");
  margin-right: 12px;
}

.footer-enter::before {
  margin-right: 13px;
}

.compare::before {
  content: url("../img/svg/compare.svg");
  margin-right: 9px;
}

.cart::before {
  content: url("../img/svg/cart.svg");
  margin-right: 9px;
}

.plus::after {
  content: url(../img/svg/plus.svg);
  padding-left: 11px;
  opacity: 0.3;
  position: absolute;
  top: 32px;
}

.plus-menu-footer {
  margin-top: -1px;
}

.form-placeholder {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  background: rgb(247, 226, 150);
  border: none;
  outline: none;
  width: 356px;
  border-bottom: 2px solid transparent;
  padding-left: 36px;
  height: 49px;
  padding-top: 4px;
}

.form-placeholder::placeholder {
  opacity: 0.3;
}

.form-placeholder:hover::placeholder {
  opacity: 0.6;
}

.form-placeholder:focus::placeholder {
  opacity: 1;
}

.search-button {
  width: 85px;
  height: 49px;
  border: 2px solid #000000;
  background: rgb(247, 226, 150);
  display: inline-block;
  margin-left: -4px;
  position: absolute;
  display: none;
}

.bottom-options li {
  list-style-type: none;
  margin-bottom: 44px;
}

.bottom-options a {
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

.form-name-email {
  display: flex;
  justify-content: space-between;
}

.close {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 55px;
  height: 55px;
  background: rgba(240, 197, 41, 0.5);
  border-radius: 50%;
  border: none;
  right: 50px;
  top: 22px;
  cursor: pointer;
}

.close:hover {
  background: rgb(240, 197, 41);
}

.close:active {
  background: rgba(240, 197, 41, 0.3);
}

.close::before,
.close::after {
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 26px;
  left: 16px;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(135deg);
}

.form-container {
  width: 960px;
  margin: 0 auto;
  box-shadow: 1px 0px 20px 1px;
  position: relative;
}

.form-inside {
  width: 760px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 99px;
}

.form-inside label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 13px;
}

.form-inside input,
textarea {
  background: #F2F2F2;
  border: none;
  outline: none;
  margin-top: 11px;
}

.form-send {
  padding-bottom: 92px;
  margin-top: 50px;
}

.form-letter {
  width: 100%;
  padding-top: 29px;
}

.form-name-email input {
  width: 360px;
  height: 50px;
}

.form-letter textarea {
  width: 100%;
  height: 156px;
  border: none;
  outline: none;
}

.form-inside [placeholder] {
  padding-left: 20px;
}

.form-inside .color-placeholder::-webkit-input-placeholder {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  color: rgba(70, 70, 70, 0.4);
}

.email {
  margin-left: 40px;
}

.dji:hover {
  background-image: url("../img/logo-1.png");
}

.spgadgets:hover {
  background-image: url("../img/logo-2.png");
}

.gopro:hover {
  background-image: url("../img/logo-3.png");
}

.vive:hover {
  background-image: url("../img/logo-4.png");
}

.warranty {
  background: url("../img/warranty.png") no-repeat top right;
}

.credit {
  background: url("../img/credit.png") no-repeat top right;
}

.info-about a,
.info-write-us a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.55px;
  text-decoration: none;
  color: #000;
}

.enter-footer,
.compare-footer,
.cart-footer {
  fill: #ffc600;
  margin-right-left: 14px;
}

.cart-footer {
  padding-left: 36px;
}

.footer-contacts-catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 67px;
  margin-left: 429px;
}

.footer-contacts {
  display: flex;
  justify-content: flex-end;
  margin-top: 61px;
  padding-bottom: 67px;
}

.footer-contacts ul,
.footer-contacts-catalog ul {
  display: flex;
  opacity: 0.3;
  margin-right: 481px;
  margin-top: 2px;
}

.footer-contacts a {
  margin-top: 1px;
  margin-right: 1px;
}

.footer-nav p::before {
  content: "";
  border-top: 7px solid #ffc600;
  width: 80px;
  position: absolute;
  top: 106px;
  left: 1px;
}

.footer-contacts-сatalog ul::before {
  content: "";
  border-top: 7px solid #ffc600;
  width: 80px;
  position: absolute;
  left: 430px;
  margin-top: 10px;
}

.write-us input,
.textarea {
  background: #F2F2F2;
}

.write-us input:hover,
.textarea:hover {
  background: #ECECEC;
}

.write-us input:focus,
.textarea:focus {
  border: 3px solid #f0c52e;
}

.breadcrumbs li::after {
  content: url("../img/svg/nav-arrow.svg");
  margin-left: 10px;
}

.breadcrumbs li:last-child::after {
  content: "";
  margin-left: 10px;
}

.filter-price p,
.filter-color p,
.filter-bluetooth p {
  width: 201px;
  padding-top: 10px;
  margin: 0;
  font-family: Gilroy, "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.info-200 a {
  width: 200px;
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  text-decoration: none;
  color: #000;
  font-weight: 800;
  font-size: 18px;
}

.info-200 {
  width: 200px;
  margin-left: 2px;
  margin-top: -13px;
}

.wide-200 {
  width: 200px;
}

.wide-200:hover {
  width: 200px;
}

.filters label {
  width: 28px;
  height: 50px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 2.86;
  letter-spacing: 0.14px;
}

.nav-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ECECEC;
  width: 760px;
  margin-top: -12px;
  list-style-type: none;
  margin-bottom: 78px;
  padding: 0;
  height: 70px;
  justify-content: space-between;
  margin-left: 71px;
}

.nav-bottom a {
  width: 75px;
  height: 13px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
  font-weight: 800;
}

.no-active {
  width: 9px;
  height: 11px;
  opacity: 0.3;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3);
}

.user-form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 66px;
  margin-bottom: -2px;
}

.user-form-bottom ul {
  display: flex;
  padding-bottom: 16px;
  position: relative;
  padding-top: 3px;
}

.user-form-bottom .svg-footer-enter {
  position: absolute;
  left: -26px;
  top: 5px;
}

.user-form-bottom .svg-footer-compare {
  margin-right: 11px;
}

.user-form-bottom .svg-footer-cart {
  margin-right: 11px;
}

.slider-button button {
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  background: none;
  margin-right: 21px;
  position: relative;
}

.slider-button button:first-child::before {
  content: "";
  width: 4px;
  height: 4px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  right: 3px;
  transform: translateY(-45%);
}

.header,
.logo-top,
.catalogs,
.user-form ul,
.advatages-top,
.slider {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: auto;
}

.logo-top {
  margin-left: 60px;
  margin-top: -19px;
}

.logo-top-footer {
  margin-top: -16px;
}

.catalogs {
  width: inherit;
  justify-content: space-between;
  padding-top: 31px;
  padding-left: 60px;
  padding-right: 56px;
  padding-bottom: 53px;
  align-items: center;
  position: relative;
}

.catalogs-footer {
  padding-bottom: 48px;
}

.catalogs-items {
  margin-bottom: 53px;
}

.user-form ul {
  justify-content: space-between;
  margin: 0;
  padding-right: 35px;
  align-items: center;
}

.user-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 62px;
  padding-right: 23px;
  align-items: center;
  position: relative;
  padding-top: 14px;
}

.user-form-footer {
  padding-top: 11px;
}

.user-form .exit {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  padding-right: 65px;
}

.user-form-bottom .exit-bottom {
  color: rgba(255, 255, 255, 0.3);
  padding-left: 20px;
}


.advatages-top li:last-child {
  padding-left: 108px;
}

.advatages-top li:first-child {
  padding-right: 34px;
}

.enter {
  padding-right: 216px;
}

.form-search {
  position: relative;
  height: 49px;
}

.form-search::before {
  content: url("../img/svg/search.svg");
  position: absolute;
  left: 1px;
  top: 19px;
}

.compare {
  padding-right: 40px;
}

.item {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 47px;
  margin-top: -74px;
}

.item-range-catalog {
  margin-bottom: 145px;
}

.cart-button {
  width: 360px;
  height: 380px;
  position: relative;
}

.add {
  position: relative;
  left: 130px;
  top: 150px;
  z-index: 1;
  display: none;
}

.cart-button .add-to-cart {
  position: absolute;
  left: -20px;
  top: 74px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.13px;
}

.add-to-cart:hover {
  color: #000;
}

.add-to-cart:active {
  color: rgba(0, 0, 0, 0.2);
}

.add button {
  font-family: "Gilroy", "Arial", sans-serif;
  background: none;
  border: none;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  text-decoration: none;
  color: #000;
  font-weight: 800;
  font-size: 18px;
  position: absolute;
  cursor: pointer;
  margin-top: 29px;
  margin-left: -9px;
}

.add button::before {
  content: "";
  background: #f0c52e;
  width: 200px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: -40px;
  right: 0px;
  transform: translateY(-50%);
}

.add span {
  position: relative;
  letter-spacing: 3.6px;
  margin-left: -9px;
}

.add button:hover::before {
  height: 40px;
}

.add button:active {
  color: rgba(0, 0, 0, 0.3);
}

.cart-button:hover .add {
  display: block;
}

.cart-button:hover img {
  opacity: 0.7;
}

.item-image-1 {
  margin-left: auto;
  display: flex;
}

.item-image-2 {
  margin-left: auto;
  display: flex;
}

.item-image-3 {
  margin-left: -40px;
  display: flex;
  margin-top: 65px;
}

.discription {
  margin-left: 125px;
  margin-top: 92px;
  position: relative;
  top: -12px;
}

.discription::before {
  content: "";
  border-top: 7px solid #fff;
  width: 100px;
  position: absolute;
  top: -42px;
}

.discription-3::before {
  top: -40px;
}

.discription-2::before {
  top: -10px;
}

.discription::after {
  content: "01";
  color: #fff;
  width: 166px;
  height: 131px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  position: absolute;
  top: -92px;
  right: 10px;
}

.discription-2::after {
  content: "02";
  top: -62px;
  left: 350px;
}

.discription-3::after {
  content: "03";
  top: -90px;
  left: 300px;
}

.discription-3 h1 {
  z-index: 1;
  margin: 0;
}

.discription-2 {
  margin-left: 138px;
  margin-right: 83px;
  margin-top: 60px;
}

.discription-3 {
  width: 603px;
  display: flex;
  margin-right: 53px;
  margin-left: 42px;
  flex-wrap: wrap;
  margin-top: 90px;
}

.about-items {
  display: flex;
  margin-top: 51px;
  align-items: center;
}

.reset {
  margin: 0;
  padding: 0;
}

.item-text {
  margin-top: 31px;
}

.item-text p {
  width: 500px;
  margin-top: -12px;
  margin-left: -1px;
  letter-spacing: -0.12px;
}

.container {
  margin: 0 auto;
  width: 1160px;
  margin-top: 37px;
}

.container-company {
  margin-top: -36px;
}

.item-text-2 {
  margin-top: 31px;
}

.item-text-3 {
  margin-top: 29px;
}

.item-text-3 p {
  margin: 0;
}

.list-items {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}

.bottom-slider {
  margin-top: 181px;
  background-color: #e5e5e5;
  padding-top: 1px;
}

.bottom-slider .container {
  display: flex;
  padding-bottom: 106px;
  margin-top: -1px;
}

.footer .container {
  width: 1163px;
  margin-top: -10px;
}

.footer .container-bottom-footer {
  width: 1163px;
  margin-top: 0px;
}

.slider {
  padding-left: 91px;
  margin-top: 69px;
}

.slider::before {
  content: "";
  width: 100%;
  height: 113px;
  background: #F7E397;
  position: absolute;
  top: -73px;
  left: 0px;
}

.item-image-1 span,
.item-image-2 span,
.item-image-3 span {
  position: relative;
}

.specification td,
th {
  padding-right: 73px;
}

.specification td {
  padding-top: 11px;
}

.specification {
  margin-top: 61px;
  margin-left: -4px;
}

.slider-button {
  display: flex;
  position: absolute;
  margin-left: 908px;
  margin-top: 256px;
}

.info-content {
  margin-left: 122px;
  width: 760px;
  margin-top: -43px;
}

.bottom-options::after {
  content: "";
  border-right: 7px solid;
  height: 319px;
  position: absolute;
  right: -4px;
  top: -100px;
}

.bottom-options {
  width: 280px;
  position: relative;
}

.delivery p,
.warranty p,
.credit p {
  margin-top: 32px;
  padding-bottom: 30px;
  margin-left: -2px;
}

.lables {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
}

.footer-tel a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #ffffff;
  text-transform: none;
  letter-spacing: -0.00px;
}

.footer-adress {
  margin-right: auto;
  margin-top: 11px;
}

.footer-tel {
  margin-left: auto;
  margin-top: 10px;
}

.about-company {
  margin-top: 142px;
  display: flex;
  margin-bottom: 100px;
}

.about-us .advantages {
  width: 482px;
  letter-spacing: -0.23px;
  margin-left: -1px;
  padding-bottom: 31px;
}

.about-us {
  margin-right: 148px;
  position: relative;
}

.contacts .advantages {
  width: 526px;
  margin-top: 43px;
  line-height: 2;
  letter-spacing: normal;
  word-spacing: -1.2px;
}

.about-us ul {
  margin-top: 34px;
  padding-left: 35px;
}

.about-us .about {
  margin-top: 41px;
}

.contacts img {
  margin-top: 25px;
  margin-left: 2px;
}

.contacts .about {
  margin-top: 83px;
}

.about-us::before,
.contacts::before {
  content: "";
  border-top: 7px solid #000;
  width: 80px;
  position: absolute;
  top: -52px;
}

.contacts::before {
  left: 2px;
  top: -52px;
}

.contacts {
  position: relative;
  margin-left: -31px;
}

.footer-container {
  display: flex;
  justify-content: center;
}


.container-footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
}

.footer-container .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-left: 1px;
}

.user-form-bottom a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
  letter-spacing: -0.2px;
}

.compare-footer {
  margin-right: 5px;
  padding-left: 42px;
}

.enter-footer {
  margin-right: auto;
}

.footer-enter {
  padding-left: 42px;
  padding-right: 15px;
}

.logo-footer {
  display: flex;
  padding-left: 2px;
}

.footer-nav ul {
  display: flex;
  padding-top: 24px;
  justify-content: flex-start;
  width: 410px;
  margin-left: -52px;
  margin-top: -18px;
}

.info-about {
  margin-top: 59px;
}

.info-write-us {
  margin-top: 72px;
  margin-left: 2px;
}

.footer-nav a:hover {
  opacity: 0.6;
}

.footer-nav a:active {
  opacity: 0.3;
}

.main-container {
  width: 1100px;
}

.top-container-catalog {
  width: 1160px;
  margin: 0 auto;
}

.top-container-catalog ul {
  display: flex;
}

.title-catalog {
  margin-top: 37px;
  margin-bottom: 29px;
  margin-left: 60px;
}

.top-container-catalog .breadcrumbs {
  margin-bottom: 50px;
  margin-left: 60px;
  margin-top: 36px;
  margin-top: -5px;
}

.container-filter {
  background: linear-gradient(90deg, rgba(220, 220, 220, 1) 50%, rgba(236, 236, 236, 1) 50%);
  padding-bottom: 3px;
}

.filter {
  display: flex;
  width: 1300px;
  margin: 0 auto;
  margin-top: -4px;
  margin-bottom: -7px;
}

.filter-sort {
  display: flex;
  padding-left: 73px;
  background: #ECECEC;
  width: 850px;
  justify-content: space-between;
  align-items: center;
}

.filter-footer-top {
  display: inline-block;
  margin-left: -107px;
  margin-top: -7px;
}

.filter-sort ul {
  display: flex;
  align-items: center;
  margin-left: 55px;
}

.filter .filter-back {
  margin-left: 131px;
  margin-top: 26px;
}

.filter-main {
  background: #DCDCDC;
  width: 468px;
  margin-right: -70px;
}

.up-down-buttoms {
  display: inline-block;
  position: relative;
}

.up-down-buttoms li:first-child {
  padding-right: 19px;
}

.up-down-buttoms a {
  opacity: 0.2;
}

.up-down-buttoms a:hover {
  opacity: 0.4;
}

.up-down-buttoms a:active {
  opacity: 1;
}

.up-down-buttoms .down {
  border: 6px solid transparent;
  width: 6px;
  height: 6px;
  border-top: 9px solid black;
  position: absolute;
  top: 20px;
  opacity: 1;
}

.up {
  border: 6px solid transparent;
  width: 6px;
  height: 6px;
  border-bottom: 9px solid black;
  position: relative;
  top: -10px;
}

.form {
  background: #EFEFEF;
  outline: none;
  margin-right: -3px;
}

.item-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  padding-top: 143px;
}

.form form {
  margin-left: 129px;
  padding-right: 71px;
}

.nav-bottom li {
  padding-top: 25px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
  height: 70px;
  margin-left: -3px;
}

.inside-list {
  display: flex;
  list-style: none;
  list-style-type: none;
  justify-content: center;
  margin-left: -6px;
}

.nav-bottom .next {
  padding-left: 32px;
  margin-right: -1px;
  padding-top: 24px;
}

.inside-list li {
  padding-left: 1px;
}

.nav-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: absolute;
  left: 1080px;
}

.nav-pages li {
  padding: 0;
  padding-left: 31px;
}

.filter-price {
  margin-top: 69px;
  display: flex;
  border-top: 2px solid black;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}

.filter-color {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid black;
  margin-top: -3px;
}

.filter-color p {
  padding-bottom: 17px;
}

.filter-bluetooth {
  margin-top: 32px;
  margin-bottom: 53px;
  border-top: 2px solid black;
}

.filter-bluetooth p {
  padding-bottom: 29px;
}

.filters input {
  margin-right: 14px;
}

.none {
  display: none;
}

.logout a {
  margin-right: 65px;
  color: rgba(0, 0, 0, 0.3);
}

.logout-footer a {
  color: rgba(255, 255, 255, 0.3);
}

.footer-contacts-сatalog li {
  list-style-type: none;
  margin-left: 23px;
}

.footer-contacts-сatalog {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 67px;
}

.footer-contacts-сatalog ul {
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.item-new::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 26px;
  top: 30px;
}

.item-new::before {
  content: "NEW";
  color: rgba(0, 0, 0, 0.2);
  width: 60px;
  height: 60px;
  position: absolute;
  right: 12px;
  top: 51px;
  z-index: 1;
}

.item-new {
  position: relative;
}

.container-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 31px;
  position: relative;
}

.item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: black;
  text-decoration: none;
  margin-left: 22px;
  letter-spacing: 3.7px;
}

.form-placeholder:focus {
  border-bottom: 2px solid black;
}

.form-placeholder:focus~.search-button {
  display: inline-block;
}

.form-placeholder:focus~.search-button:hover {
  color: #fff;
  background: rgb(0, 0, 0);
}

.form-placeholder:focus~.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.selects {
  position: relative;
  width: 285px;
  margin-top: -10px;
}

.plus-menu:hover .catalogs-menu {
  margin-top: -9px;
  display: flex;
  width: 1160px;
  background: #F7E296;
  min-height: 129px;
  margin-left: -60px;
  padding-left: 60px;
  padding-top: 33px;
  padding-bottom: 13px;
}

.plus-menu-footer:hover .catalogs-menu {
  margin-top: -10px;
  display: flex;
  width: 1160px;
  background: #F7E296;
  min-height: 129px;
  margin-left: -60px;
  padding-left: 60px;
  padding-top: 33px;
  padding-bottom: 13px;
}

.catalogs-menu li {
  margin-bottom: 20px;
}

.catalogs-menu {
  position: absolute;
  top: 59px;
  z-index: 10;
}

.catalogs-menu a {
  white-space: nowrap;
  display: inline-block;
  padding-bottom: 10px;
  letter-spacing: -0.1px;
}

.links-3 {
  width: 181px;
  margin-right: 58px;
}

.links-2 {
  width: 123px;
  margin-right: 78px;
}

.link-1 {
  width: 111px;
}

.delivery {
  background: url("../img/delivery.png") no-repeat right;
  margin-top: 9px;
  margin-right: 66px;
}

.mini-logo-footer:hover {
  opacity: 0.6;
}

.mini-logo-footer:active {
  opacity: 0.3;
}

.filters-items {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.main-content-catalog {
  background: linear-gradient(90deg, rgba(239, 239, 239, 1) 50%, rgba(255, 255, 255, 1) 50%);
}

.map {
  width: 960px;
  height: 559px;
  margin: 0 auto;
  position: relative;
}

.big-map {
  width: 100%;
  height: auto;
  box-shadow: 1px 0px 20px 1px;
}

.form-inside input:hover,
.form-inside textarea:hover {
  background: #ECECEC;
}

.form-letter textarea {
  padding-top: 18px;
}

.next {
  margin-left: auto;
  width: 136px;
}

.nav-bottom .first-page {
  margin-left: 2px;
}

.nav-bottom .second-page {
  margin-left: -204px;
}

.nav-bottom .third-page {
  margin-left: -202px;
}

.next:hover {
  s background: #DADADA;
}

.next a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-bottom .back {
  width: 136px;
  padding-left: 31px;
  margin-left: 0px;
}

.back:hover {
  background: #DADADA;
}

.back a:active {
  color: rgba(0, 0, 0, 0.3);
}

.range-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 49px;
  justify-content: space-between;
  background: #fff;
  margin-right: 70px;
}

.filter-sort .active-price {
  color: #000;
}

.form input [type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.option {
  width: 100%;
  padding-left: 20px;
}

.check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.check-box {
  position: absolute;
  background-image: url("../img/svg/checkbox-off.svg");
  height: 23px;
  width: 23px;
  margin-left: -40px;
  margin-top: 8px;
}

.check-input:checked+.check-box {
  background-image: url(../img/svg/checkbox-on.svg);
  margin-left: -40px;
  margin-top: 8px;
}

.check-input:checked+.check-box:hover {
  opacity: 0.6;
}

.check-box:hover {
  opacity: 0.6;
}

.check-box:active {
  opacity: 1;
}

.check-input:disabled+.check-box {
  opacity: 0.25;
}

.check-input:disabled~.color-variant {
  opacity: 0.25;
}

.radio-button {
  position: absolute;
  background-image: url(../img/svg/radio-off.svg);
  width: 25px;
  height: 25px;
  margin-left: -41px;
  margin-top: 6px;
}

.check-input:checked+.radio-button {
  background-image: url("../img/svg/radio-on.svg");
}

.check-input:checked+.radio-button:hover {
  opacity: 0.6;
}

.check-input:checked+.radio-button:active {
  background-image: url("../img/svg/radio-off.svg");
  opacity: 1;
}

.radio-button:hover {
  opacity: 0.6;
}

.radio-button:active {
  background-image: url("../img/svg/radio-on.svg");
  opacity: 1;
}

.check-input:disabled+.radio-button {
  opacity: 0.25;
}

.range {
  width: 196px;
  height: 2px;
  background-color: #dbdbdb;
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url("../img/svg/filter-button.svg");
  width: 20px;
  height: 22px;
}

.filter-price .option {
  margin-top: 35px;
  margin-left: -19px;
}

.prive-value {
  margin-top: -22px;
  margin-left: -1px;
  padding-bottom: 11px;
}

.prive-value span:first-child {
  margin-top: 3px;
  display: inline-block;
}

.prive-value span:last-child {
  margin-left: 59px;
  display: inline-block;
}

.prive-value span {
  font-family: Gilroy, "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.item-image-1 img {
  padding-top: 3px;
}

.selects span {
  top: 1px;
  left: 2px;
}

.bottom-links {
  padding-top: 10px;
}

.filter-sort .up-down-buttoms {
  display: flex;
  justify-content: space-between;
  margin-top: -9px;
}

.option .color-variant {
  margin-left: -1px;
}

.option-bluetooth {
  margin-left: 0px;
  margin-top: -11px;
  display: inline-block;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .bar {
  width: 119px;
  height: 2px;
  background: #92CA2B;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

.range-controls .scale {
  height: 2px;
  background: #DCDCDC;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  width: 201px;
}

.range-toggle-min {
  left: 0;
  position: relative;
}

.range-toggle-min::before,
.range-toggle-max::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 2px;
  height: 2px;
  background: #ACACAC;
  border: 2px solid #ACACAC;
  border-radius: 50%;
}

.range-toggle {
  position: absolute;
  top: -10px;
  left: -6px;
  width: 8px;
  height: 8px;
  background: #ababab;
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

.range-toggle-max {
  left: 59%;
  top: -10px;
}
