*,
::before,
::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff") format("woff");
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff");
  src: url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 0.15px;
  font-style: normal;
  src: url("../fonts/opensanslight.woff") format("woff");
  src: url("../fonts/opensanslight.woff2") format("woff2");
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
}

.header {
  background-color: rgba(240, 197, 46, 0.5);
}

.user-form a {
  line-height: 2;
  color: #000000;
  text-decoration: none;
}

.user-form li {
  list-style-type: none;
}

.catalogs li {
  list-style-type: none;
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
}

.plus {
  font-family: "Gilroy", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000;
  font-weight: 800;
  font-size: 18px;
}

.catalogs-menu a {
  font-family: "OpenSans", "Arial", sans-serif;
  color: #000000;
  text-decoration: none;
}

.advatages-top a {
  font-family: "Gilroy", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  font-size: 18px;
}


.slider h1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
}

.slider p {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.info a {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

.specification th {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.36px;
  white-space: nowrap;
}

.specification td {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

.list-items a {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
}

.info-content h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.info-content p {
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: #464646;
  width: 450px;
}

.about-company h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  padding: 0;
  margin: 0;
}

.advantages {
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: #464646;
}

.about-us li {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.15px;
  list-style-type: none;
  position: relative;
  font-weight: 800;
}

.about-us li::before {
  content: "○";
  color: #e5e5e5;
  position: absolute;
  left: -30px;

}

.footer {
  background-color: #464646;
}

.user-form-bottom li {
  list-style-type: none;
}

.footer-nav p {
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: #ffffff;
  position: relative;
}

.footer-nav li {
  list-style-type: none;
  margin-left: 38px;
}

.footer-nav a {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
}

.footer-nav a:nth-child(3) {
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: #ffffff;
  text-transform: none;
  font-size: 15px;
}

.footer-contacts li,
.footer-contacts-catalog li {
  list-style-type: none;
  margin-left: 23px;
}

.footer-contacts li:hover {
  opacity: 0.6;
}

.footer-contacts li:hover {
  opacity: 0.6;
}


.footer-contacts li:active {
  opacity: 0.1;
}

.write-us label {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-catalog h1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.17px;
}

.breadcrumbs li {
  list-style-type: none;
  margin-right: 10px;
}

.breadcrumbs a {
  text-decoration: none;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter p {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-top: 29px;
  margin-bottom: 30px;
}

.filter-sort li {
  list-style-type: none;
  padding-right: 30px;
}


.filter-sort a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.filter-sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.filter-sort a:active {
  color: rgba(0, 0, 0, 1);
}

.filters-items p {
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.price-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}

.nav-bottom {
  list-style-type: none;
}

.nav-bottom a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-top img:hover {
  opacity: 0.6;
}

.logo-top img:active {
  opacity: 0.3;
}

.user-form a:hover {
  opacity: 0.6;
}

.user-form-bottom a:hover {
  opacity: 1;
}

.user-form a:active {
  opacity: 0.3;
}

.user-form-bottom a:active {
  opacity: 0.3;
}

.plus:hover,
.advatages-top a:hover {
  color: rgba(185, 170, 117, 0.6);
}

.plus:active,
.advatages-top a:active {
  color: rgba(185, 170, 117, 0.3);
}

.catalogs-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalogs-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.button {
  width: 220px;
  position: relative;
  display: inline-block;
  text-align: center;
}

.button::before {
  content: "";
  background: #f0c52e;
  width: 220px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.button span {
  position: relative;
}

.button:hover::before {
  height: 40px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.smaller-button {
  width: 160px;
}

.smaller-button::before {
  width: 160px;
}

.wide-button {
  width: 260px;
}

.wide-button::before {
  width: 260px;
}

.black-button:active {
  color: #F7E285;
}

.black-button:active::before {
  content: "";
  background: #000;
  width: 278px;
}

.list-link::before {
  content: "";
  display: flex;
  background: #F7E397;
  width: 160px;
  height: 160px;
  margin-bottom: 39px;
}

.list-link:hover::before {
  background: #f0c52e;
}

.list-link-vr::before {
  content: url("../img/svg/popular-1.svg");
  align-items: center;
  justify-content: center;
}

.list-link-vr:active::before {
  content: "";
  opacity: 0.3;
  background: #f0c52e;
}

.list-link-mnpd::before {
  content: url("../img/svg/popular-2.svg");
  align-items: center;
  justify-content: center;
}

.list-link-ac::before {
  content: url("../img/svg/popular-3.svg");
  align-items: center;
  justify-content: center;
}

.list-link-fb::before {
  content: url("../img/svg/popular-4.svg");
  align-items: center;
  justify-content: center;
}

.list-link-sw::before {
  content: url("../img/svg/popular-5.svg");
  align-items: center;
  justify-content: center;
}

.list-link-cu::before {
  content: url("../img/svg/popular-6.svg");
  align-items: center;
  justify-content: center;
}

.enter::before {
  content: url("../img/svg/user.svg");
  margin-right: 14px;
}

.compare::before {
  content: url("../img/svg/compare.svg");
  margin-right: 14px;
}

.cart::before {
  content: url("../img/svg/cart.svg");
  margin-right: 14px;
}

.plus::after {
  content: url("../img/svg/plus.svg");
  margin-left: 16px;
  opacity: 0.3;
}

.form-placeholder {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  background: rgb(247, 226, 150);
  border: none;
  padding-bottom: 10px;
  outline: none;
  width: 356px;
  border-bottom: 2px solid transparent;
  padding-left: 35px;
}

.form-placeholder::placeholder {
  opacity: 0.3;
}

.form-placeholder:hover::placeholder {
  opacity: 0.6;
}

.form-placeholder:focus::placeholder {
  opacity: 1;
}

.search-button {
  display: none;
}

.form-placeholder:focus~.search-button {
  width: 85px;
  height: 49px;
  border: 2px solid #000000;
  background: rgb(247, 226, 150);
  display: inline-block;
  position: absolute;
  margin-left: -2px;
  top: -15px;
}

.form-placeholder:focus~.search-button:hover {
  color: #fff;
  background: rgb(0, 0, 0);
}

.form-search:focus~.search-button:active {
  background: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.3);
}

.bottom-options li {
  list-style-type: none;
}

.bottom-options a {
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin-top: 57px;
  font-size: 18px;
  font-weight: 800;
}

.hidden {
  display: none;
}

.write-us a {
  width: 200px;
}

.dji:hover {
  background-image: url("../img/logo-1.png");
}

.spgadgets:hover {
  background-image: url("../img/logo-2.png");
}

.gopro:hover {
  background-image: url("../img/logo-3.png");
}

.vive:hover {
  background-image: url("../img/logo-4.png");
}

.warranty {
  background: url("../img/warranty.png") no-repeat top right;
}

.credit {
  background: url("../img/credit.png") no-repeat top right;
}

.info-about a,
.info-write-us a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  text-decoration: none;
  color: #000;
}

.enter-footer,
.compare-footer,
.cart-footer {
  fill: #ffc600;
  margin-right-left: 14px;
}

.footer-contacts-catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 67px;
  margin-left: 429px;
}

.footer-contacts {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
  padding-bottom: 67px;
}

.footer-contacts ul,
.footer-contacts-catalog ul {
  display: flex;
  opacity: 0.3;
  margin-right: 480px;
}


.footer-nav p::before {
  content: "";
  border-top: 7px solid #ffc600;
  width: 80px;
  position: absolute;
  margin-top: 110px;
}

.footer-contacts-сatalog ul::before {
  content: "";
  border-top: 7px solid #ffc600;
  width: 80px;
  position: absolute;
  left: 430px;
  margin-top: 10px;
}

.write-us input,
.textarea {
  background: #F2F2F2;
}

.write-us input:hover,
.textarea:hover {
  background: #ECECEC;
}

.write-us input:focus,
.textarea:focus {
  border: 3px solid #f0c52e;
}

.breadcrumbs-arrow::after {
  content: url("../img/svg/nav-arrow.svg");
  margin-left: 10px;
}

.filter-price p,
.filter-color p,
.filter-bluetooth p {
  border-top: 2px solid black;
  width: 201px;
  padding-top: 16px;
  margin: 0;
}

.info-200 a {
  width: 200px;
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  text-decoration: none;
  color: #000;
  font-weight: 800;
  font-size: 18px;
}

.wide-200 {
  width: 200px;
}

.wide-200:hover {
  width: 200px;
}

.filters label {
  width: 28px;
  height: 50px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 2.86;
  letter-spacing: 0.14px;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ECECEC;
  width: 760px;
  margin-top: -12px;
}


.nav-bottom a {
  width: 75px;
  height: 13px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.no-active {
  width: 9px;
  height: 11px;
  opacity: 0.3;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3);
}

.user-form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 65px;
}

.user-form-bottom ul {
  display: flex;
}

.user-form-bottom svg {
  margin-right: 14px;
}

.user-form-bottom li {
  margin-left: 43px;
}

.slider-button button {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  background: none;
  margin-right: 21px;
  position: relative;
}

.slider-button button:first-child::before {
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
}

.header,
.logo-top,
.catalogs,
.user-form ul,
.advatages-top,
.slider {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: auto;
}

.logo-top {
  margin-left: 60px;
  margin-top: -18px;
}

.catalogs {
  width: inherit;
  justify-content: space-between;
  padding-top: 37px;
  padding-left: 60px;
  padding-right: 61px;
  padding-bottom: 53px;
  align-items: center;
}

.catalogs-items {
  margin-bottom: 53px;
}

.user-form ul {
  justify-content: space-between;
  margin: 0;
}

.user-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 63px;
  padding-right: 61px;
  align-items: center;
  position: relative;
  padding-top: 24px;
}

.advatages-top li:last-child {
  padding-left: 114px;
}

.advatages-top li:first-child {
  padding-right: 38px;
}

.enter {
  padding-right: 218px;
}

.form-search {
  position: relative;
}

.form-search::before {
  content: url("../img/svg/search.svg");
  position: absolute;
  left: 1px;
  top: 3px;
}

.compare {
  padding-right: 41px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-top: -74px;
}

.item-image-1 {
  margin-left: auto;
  display: flex;
}

.item-image-2 {
  margin-left: auto;
}

.item-image-3 {
  margin-left: 31px;
}

.discription {
  margin-left: 125px;
  margin-top: 92px;
  position: relative;
  top: -10px;
}

.discription::before {
  content: "";
  border-top: 7px solid #fff;
  width: 100px;
  position: absolute;
  top: -45px;
}

.discription::after {
  content: "01";
  color: #fff;
  width: 166px;
  height: 131px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  position: absolute;
  top: -95px;
  right: 40px;

}

.discription-2 {
  margin-left: 138px;
  margin-right: 83px;
}

.discription-3 {
  width: 603px;
  display: flex;
  margin-right: 53px;
  margin-left: 42px;
  flex-wrap: wrap;
}

.about-items {
  display: flex;
  margin-top: 64px;
  align-items: center;
}

.reset {
  margin: 0;
  padding: 0;
}

.item-text {
  margin-top: 31px;
}

.item-text p {
  width: 500px;
}

.container {
  margin: 0 auto;
  width: 1160px;
  margin-top: 73px;
}

.item-text-2 {
  margin-top: 31px;
}

.item-text-3 {
  margin-top: 39px;
}

.list-items {
  display: flex;
  justify-content: space-between;
  margin-top: 117px;
}

.bottom-slider {
  margin-top: 160px;
  background-color: #e5e5e5;
  padding-top: 1px;
}

.bottom-slider .container {
  display: flex;
  align-items: center;
  margin-top: -40px;
  padding-bottom: 133px;
}

.footer .container {
  width: 1160px;
  margin-top: 93px;
}

.slider {
  padding-left: 80px;
}

.slider::before {
  content: "";
  width: 100%;
  height: 113px;
  background: #F7E397;
  position: absolute;
  top: -73px;
  left: 0px;
}

.item-image-1 span {
  position: relative;
}

.specification td,
th {
  padding-right: 81px;
}

.specification td {
  padding-top: 20px;
}

.specification {
  margin-top: 76px;
}

.slider-button {
  margin-left: 179px;
  display: flex;
}

.info-content {
  margin-left: 117px;
  width: 760px;
}

.bottom-options::after {
  content: "";
  border-right: 7px solid;
  height: 319px;
  position: absolute;
  right: 0px;
  top: -30px;
}

.bottom-options {
  margin-top: -28px;
  width: 280px;
  position: relative;
}

.delivery p,
.warranty p,
.credit p {
  margin-top: 43px;
  padding-bottom: 30px;
}

.lables {
  margin-top: 94px;
  display: flex;
  justify-content: space-around;
}

.about-company {
  margin-top: 152px;
  display: flex;
}

.about-us .advantages {
  width: 490px;
  margin-top: 55px;
}

.about-us {
  margin-right: 139px;
  position: relative;
}

.contacts .advantages {
  width: 520px;
  margin-top: 59px;
}

.about-us ul {
  margin-top: 80px;
  padding-left: 20px;
}

.about-us .about {
  margin-top: 41px;
}

.contacts img {
  margin-top: 44px;
}

.contacts .about {
  margin-top: 83px;
}

.about-us::before,
.contacts::before {
  content: "";
  border-top: 7px solid #000;
  width: 80px;
  position: absolute;
  top: -51px;
}

.contacts {
  position: relative;
}

.write-us {
  display: none;
}

.footer-container {
  display: flex;
  justify-content: center;
}


.container-footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
}

.footer-container .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  align-items: center;
}

.user-form-bottom a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
}

.logo-footer {
  display: flex;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
}

.info-about {
  margin-top: 72px;
}

.info-write-us {
  margin-top: 125px;
}

.footer-nav a:hover {
  opacity: 0.6;
}

.footer-nav a:active {
  opacity: 0.3;
}

.main-container {
  width: 1100px;
}

.top-container-catalog {
  width: 1160px;
  margin: 0 auto;
}

.top-container-catalog ul {
  display: flex;
}

.title-catalog {
  margin-top: 44px;
  margin-bottom: 29px;
  margin-left: 61px;
}

.top-container-catalog .breadcrumbs {
  margin-bottom: 50px;
  margin-left: 61px;
}

.container-filter {
  background: linear-gradient(90deg, rgba(220, 220, 220, 1) 50%, rgba(236, 236, 236, 1) 50%);
}

.filter {
  display: flex;
  width: 1300px;
  margin: 0 auto;
}

.filter-sort {
  display: flex;
  padding-left: 73px;
  background: #ECECEC;
}

.filter-sort ul {
  display: flex;
  align-items: center;
  margin-left: 55px;
}

.filter .filter-back {
  margin-left: 200px;
}

.filter-main {
  background: #DCDCDC;
  width: 468px;
}

.up-down-buttoms {
  display: inline-block;
  position: relative;
}

.up-down-buttoms a {
  opacity: 0.2;
}

.up-down-buttoms a:hover {
  opacity: 0.4;
}

.up-down-buttoms a:active {
  opacity: 1;
}

.up {
  border: 5px solid transparent;
  width: 6px;
  height: 6px;
  border-top: 6px solid black;
  position: absolute;
  top: 20px;
}

.down {
  border: 5px solid transparent;
  width: 6px;
  height: 6px;
  border-bottom: 6px solid black;
  position: relative;
  top: -10px;
}

.form {
  background: #EFEFEF;
  padding-right: 66px;
}

.item-section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 140px;
  padding-left: 72px;
  justify-content: space-between;
  background: #fff;
}

.form form {
  margin-left: 200px;
}

.nav-bottom li {
  padding-top: 27px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: absolute;
  left: 1080px;
}

.nav-pages li {
  padding: 0;
  padding-left: 31px;
}

.filter-price p {
  padding-bottom: 41px;
}

.filter-price {
  padding-top: 69px;
}

.filter-color {
  display: flex;
  flex-wrap: wrap;
  padding-top: 67px;
}

.filter-color p {
  padding-bottom: 29px;
}

.filter-bluetooth {
  padding-top: 46px;
  padding-bottom: 53px;
}

.filter-bluetooth p {
  padding-bottom: 29px;
}

.filters input {
  margin-right: 14px;
}

.none {
  display: none;
}

.logout a {
  margin-right: 65px;
  color: rgba(0, 0, 0, 0.3);
}

.logout-footer a {
  color: rgba(255, 255, 255, 0.3);
}

.footer-contacts-сatalog li {
  list-style-type: none;
  margin-left: 23px;
}

.footer-contacts-сatalog {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 67px;
}

.footer-contacts-сatalog ul {
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.item-new::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 26px;
  top: 28px;
}

.item-new::before {
  content: "NEW";
  color: rgba(0, 0, 0, 0.2);
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10px;
  top: 50px;
}

.item-new {
  position: relative;
}

.container-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 49px;
}

.container-price p {
  font-size: 18px;
  font-weight: 800;
}


.form-placeholder:focus {
  border-bottom: 2px solid black;
}

.selects {
  position: relative;
  width: 285px;
}

.plus:active~.catalogs-menu {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 71px;
}

.catalogs-menu li {
  margin-bottom: 20px;
}

.delivery {
  background: url("../img/delivery.png") no-repeat top right;
}

.mini-logo-footer:hover {
  opacity: 0.6;
}

.mini-logo-footer:active {
  opacity: 0.3;
}

.filters-items {
  width: 1300px;
  margin: 0 auto;
  display: flex;
}

.main-content-catalog {
  background: linear-gradient(90deg, rgba(239, 239, 239, 1) 50%, rgba(255, 255, 255, 1) 50%);
}
